<!DOCTYPE html>

<h1>Create portfolio</h1>


<form ng-submit="portfoliosNew.searchTicker()">
  <input type="text" ng-model="portfoliosNew.ticker" placeholder="Ticker">
  <input type="submit" value="Search">
</form>

<div ng-show="portfoliosNew.tickerInfo">
  {{ portfoliosNew.tickerInfo.name }}
  {{ portfoliosNew.tickerInfo.ticker }}
  {{ portfoliosNew.tickerInfo.short_description }}

  <button ng-click="portfoliosNew.addStock()">Add stock</button>
</div>
<!-- {{ portfoliosNew.priceInfo.data.0.adj_close }} -->
{{ portfoliosNew.ticker.shares }}

<form  ng-submit="portfoliosNew.create()" name="portfoliosNew.portfolioForm" novalidate>

  <div class="field">
    <label class="label" for="name">Name</label>
    <input type="text" id="name" name="name"
    ng-model="portfoliosNew.portfolio.name"
    placeholder="e.g. Emerging Markets" required>
  </div>

  <div ng-messages="portfoliosNew.portfolioForm.name.$error" ng-show="portfoliosNew.portfolioForm.$submitted || portfoliosNew.portfolioForm.name.$touched">
    <div ng-message="required" class="help is-danger">You forgot to enter the name</div>
  </div>



  <div>
    {{ portfoliosNew.portfolio.stocks }}
  </div>

  <div class="field">
    <p class="control">
      <input type="submit" class="button rounded-input" value="Create">
    </p>
  </div>
</form>
