<!DOCTYPE html>
<section id="portfolionewHero" class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
</section>

<div class="row">
  <div class="column">
    <div class="column is-10 is-offset-1">
      <h1 class="pageTitle">New portfolio</h1>

      <form  ng-submit="portfoliosNew.create()" name="portfoliosNew.portfolioForm" novalidate ng-hide="portfoliosNew.portfolio.id">

        <div class="field">
          <input  class="input is-success" type="text" id="name" name="name"
          ng-model="portfoliosNew.portfolio.name"
          placeholder="Portfolio name e.g. Badass portfolio" required>
        </div>

        <div ng-messages="portfoliosNew.portfolioForm.name.$error" ng-show="portfoliosNew.portfolioForm.$submitted || portfoliosNew.portfolioForm.name.$touched">
          <div ng-message="required" class="help is-danger">You forgot to enter the name
          </div>
        </div>

        <div class="field">
          <button class="button">Create</button>
        </div>

      </form>



      <div ng-show="portfoliosNew.portfolio.id">
        <h1 class="pageSubtitle">{{ portfoliosNew.portfolio.name }}</h1>

        <h2 class="pageSubtitle">Ticker search</h2>

        <div class="field">
          <form ng-submit="portfoliosNew.getComps()">

            <input class="input is-success" type="text" ng-model="portfoliosNew.q" placeholder="Company name">
            <!-- <input type="submit" value="Search"> -->
          </form>
        </div>


        <div ng-show="portfoliosNew.q">
          <div class="row">
            <table style="width:100%">
              <tr>
                <th>Company</th>
                <th>Ticker</th>
                <th>Exchange</th>
              </tr>
              <tr ng-repeat="stock in portfoliosNew.companyInfo.data | limitTo:25">
                <td>{{ stock.security_name }}</td>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.stock_exchange }}</td>
              </tr>
            </table>
          </div>


        </div>


        <div class="field">
          <form ng-submit="portfoliosNew.searchTicker()">
            <input class="input is-success" type="text" ng-model="portfoliosNew.ticker" placeholder="Ticker">
            <!-- <input type="submit" value="Search"> -->
          </form>
        </div>

        <div ng-show="portfoliosNew.ticker">

          <div class="row">
            <table style="width:100%">
              <col width="50">
              <col width="50">
              <col width="50">

              <tr>
                <th>Company</th>
                <th>Ticker</th>
                <th>Exchange</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>{{ portfoliosNew.tickerInfo.name }}</td>
                <td>{{ portfoliosNew.tickerInfo.ticker}}</td>
                <td>{{ portfoliosNew.tickerInfo.stock_exchange }}</td>
                <td>{{ portfoliosNew.tickerInfo.short_description }}</td>
              </tr>
            </table>
          </div>

          <div class="field">
            <input class="input is-success" type="number" name="shares" value="" ng-model="portfoliosNew.stock.shares" placeholder="Enter number of shares">
          </div>

          <div class="field">
            <button class="button" ng-click="portfoliosNew.addStock(ticker)">Add stock</button>
          </div>

        </div>

      </div>

      <div id="currentStocks" ng-show="portfoliosNew.portfolio.stocks.length > 0">
        <h2 class="pageSubtitle">Current stocks</h2>
        <div class="row">
          <table style="width:100%">
            <tr>
              <th>Company</th>
              <th>Ticker</th>
              <th>Shares</th>
              <th>Sector</th>
              <th>Open</th>
              <th>Close</th>
              <th>Volume</th>
            </tr>
            <tr ng-repeat="stock in portfoliosNew.portfolio.stocks">
              <td>{{ stock.name }}</td>
              <td>{{ stock.ticker }}</td>
              <td>{{ stock.shares }}</td>
              <td>{{ stock.sector }}</td>
            </tr>
          </table>
        </div>


      </div>

    </div>
  </div>
</div>
