<!DOCTYPE html>

<h1 class="title black-title">{{ portfoliosShow.portfolio.name }}</h1>

<h2>Stocks</h2>
<div ng-repeat="stock in portfoliosShow.portfolio.stocks">
  <p>{{ stock.name }}</p>
  <p>{{ stock.ticker }}</p>
  <p>{{ stock.stock_exchange }}</p>
  <p>{{ stock.shares }}</p>
  <p>{{ stock.sector }}</p>
  <p>{{ stock.open }}</p>
  <p>{{ stock.close }}</p>
  <p>{{ stock.volume }}</p>
</div>

<canvas id="pie" class="chart chart-pie"
  chart-data="portfoliosShow.chartData" chart-labels="portfoliosShow.chartNames">
</canvas>

<button ui-sref="portfoliosEdit({id: portfoliosShow.portfolio.id})" ng-if="main.isAuthenticated() && main.currentUser.id === portfoliosShow.portfolio.user.id">Edit</button>



<div class="comments">
  <div class="row">
    <div class="col-md-6">
      <h2>Comments</h2>
      <ul>
        <li ng-repeat="comment in portfoliosShow.portfolio.comments">{{ comment.body }} - <strong>{{ comment.user.username }}</strong><button ng-click="portfoliosShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete</button></li>
      </ul>
    </div>
    <div class="col-md-6" ng-if="main.isAuthenticated()">
      <h2>Add Comment</h2>
      <form ng-submit="portfoliosShow.addComment()">
        <textarea type="text" name="body" ng-model="portfoliosShow.comment.body"></textarea>
        <button>Create</button>
      </form>
    </div>
  </div>
</div>
