<!DOCTYPE html>
<section id="userEditHero" class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="column">
      <div class="column is-half is-offset-one-quarter">
        <h1 class="pageTitle">Edit your account</h1>
        <!-- form name -->
        <form class="form-style" name="usersEdit.editForm" ng-submit="usersEdit.update()" novalidate>

          <!--image-->
            <div class="field">
              <label class="label" for="image">Image</label>
              <label class="button rounded-input" for="image">Choose File</label>
              <input base64 type="file" name="image" id="image" ng-model="usersEdit.user.base64" hidden>
              <img ng-src="{{ usersEdit.user.base64 }}">
            </div>

          <!-- username -->
          <label class="label">Username</label>
            <div class="field">
              <input  class="input is-success" type="text" name="username" id="username" ng-model="usersEdit.user.username" placeholder="Username
              " required>
            </div>
          <!-- ng-messages username-->
          <div class="error-messages" ng-messages="usersEdit.editForm.username.$error" ng-show="usersEdit.editForm.$submitted || usersEdit.editForm.username.$touched" ng-messages-multiple>
            <div ng-message="required">
              <p class="help is-danger">You forgot to enter the username</p>
            </div>
            <div ng-message="username">
              <p class="help is-danger">You didn't enter the username correctly</p>
            </div>
          </div>
          <!-- email -->
          <div class="field">
            <label class="label">Email</label>
            <input class="input is-success" type="text" name="email" id="email" ng-model="usersEdit.user.email" placeholder="Email" required>
          </div>
          <!-- ng-messages email-->
          <div class="error-messages" ng-messages="usersEdit.editForm.email.$error" ng-show="usersEdit.editForm.$submitted || usersEdit.editForm.email.$touched" ng-messages-multiple>
            <div ng-message="required">
              <p class="help is-danger">You forgot to enter the email address</p>
            </div>
          </div>
          <!-- password -->
          <div class="field">
            <label class="label" for="password">Password</label>
            <p class="control">
              <input class="input is-success rounded-input" type="password" name="password" id="password"
              ng-model="usersEdit.user.password" required>
            </p>

          </div>
          <!-- ng messages password-->
          <div ng-messages="usersEdit.editForm.password.$error" ng-show="usersEdit.editForm.$submitted || usersEdit.editForm.password.$dirty" class="error-messages">
            <div ng-message="required">You forgot to enter a password</div>
          </div>

          <!-- password confirmation -->
          <div class="field">
            <label class="label" for="passwordConfirmation">Password Confirmation</label>
            <p class="control">
              <input class="input is-success rounded-input" type="password" name="passwordConfirmation" id="passwordConfirmation"
              match-password="password"
              ng-model="usersEdit.user.passwordConfirmation" required>
            </p>
          </div>
          <!-- ng messages password confirmation-->
          <div ng-messages="usersEdit.editForm.passwordConfirmation.$error" ng-show="usersEdit.editForm.$submitted || usersEdit.editForm.passwordConfirmation.$dirty"  class="error-messages">
            <div ng-message="required"><p class="help is-danger">You forgot to enter a password</p></div>
          </div>

          <!-- submit -->
              <button class="button">Edit</button>
        </form>
      </div>
    </div>
  </div>
</section>
