<!DOCTYPE html>

<h1>{{ usersShow.user.username }}</h1>
<h2>{{ usersShow.user.firstname }}</h2>
<h2>{{ usersShow.user.lastname }}</h2>

<img ng-src="{{ usersShow.user.image_src }}" alt="usersShow.user.username">

<h1>Portfolios</h1>

<div class="" ng-repeat="portfolio in usersShow.user.portfolios">

<a ui-sref="portfoliosShow({ id: portfolio.id })"><h1>{{ portfolio.name }}</h1></a>
<p><h2>{{ portfolio.stocks }}</h2></p>



</div>



<a ng-if="main.isAuthenticated() && main.currentUserId === usersShow.user.id" ui-sref="usersEdit({ id: usersShow.user.id})">Edit</a>

<a ng-if="main.isAuthenticated() && main.currentUserId === usersShow.user.id" ng-click="usersShow.delete()">Delete</a>
