<!DOCTYPE html>

<div ng-controller="NewsCtrl as news" class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item" ng-repeat="newstory in news.all">
      <a href="{{newstory.url}}" target="_blank">
        <h4>NEWS: {{ newstory.title }}</h4>
      </a>
    </div>
  </div>
</div>

<div class="radar">
  <div class="pointer"></div>
  <!-- <h1 id="homepage">Corporate Radar</h1> -->
  <div class="shadow"></div>
</div>

<form ng-submit="companies.searchCompany()">
  <input type="text" ng-model="" placeholder="Company name">
  <input type="submit" value="Search">
</form>
