<!DOCTYPE html>
<section id="loginHero" class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
</section>

<div class="row">
  <div class="column">
    <div class="column is-half is-offset-one-quarter">

      <h1 class="pageTitle">Login</h1>

      <form name="login.loginForm" ng-submit="login.submit()" novalidate>
        <!-- email -->
        <div class="field">
          <label class="label" for="email">Email</label>
          <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="text" name="email" id="email" ng-model="login.credentials.email" ng-minlength="5" ng-maxlength="30" required>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>

        <!-- ng-messages email-->
        <div class="error-messages" ng-messages="login.loginForm.email.$error" ng-show="login.loginForm.$submitted || login.loginForm.email.$touched" ng-messages-multiple>
          <div ng-message="required">
            <p class="help is-danger">You forgot to enter the email address</p>
          </div>
          <div ng-message="email">
            <p class="help is-danger">You didn't enter the email address correctly</p>
          </div>
          <div ng-message="minlength">
            <p class="help is-danger">The email address you entered is too short</p>
          </div>
          <div ng-message="maxlength">
            <p class="help is-danger">The email address you entered is too long</p>
          </div>
        </div>

        <!-- password -->
        <div class="field">
          <label class="label" for="password">Password</label>
          <input class="input is-success rounded-input" type="password" name="password" id="password" ng-model="login.credentials.password" required>
        </div>
        <!-- ng messages password-->
        <div ng-messages="login.loginForm.password.$error" ng-show="login.loginForm.$submitted || login.loginForm.password.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages">
          <div ng-message="required"><p class="help is-danger">You forgot to enter a password</p></div>
        </div>
        <!-- submit button -->

          <button class="button">Login</button>

          <div class="field button-holder">
            <button class="button field fb-button" ng-click="login.authenticate('facebook')"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i>Login with Facebook</button>
          </div>



      </form>

    </div>
  </div>
</div>
